/* --------------- Fonts --------------- */
/* Logo and titles: Shrikhand
Text : Roboto */
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto/Roboto-Thin-webfont.woff") format("woff");
  src: url("../../assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto/Roboto-Bold-webfont.woff") format("woff");
  src: url("../../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../assets/fonts/shrikhand/Shrikhand-Regular.otf") format("opentype");
  font-weight: 500;
}
html, .loc_form_type {
  font-family: "Roboto", "Trebuchet MS", Arial, sans-serif;
}

.menu_header_title {
  font-family: "Shrikhand", "Trebuchet MS", Arial, sans-serif;
}

h1, h2, h3 {
  font-weight: 600;
}

h3, p, input {
  font-weight: 500;
}

h4 {
  font-weight: 400;
}

.menu_desc_s_el_desc h2 {
  font-weight: 500;
}

h1 {
  font-size: 25px;
}

h2, h3, h4, .loc_form_type {
  font-size: large;
}

p, .menu_desc_s_el h4 {
  font-size: medium;
}

/* --------------- Color chart --------------- */
/* --------------- Breakpoints --------------- */
/* ====================================== */
/* =============== HEADER =============== */
/* ====================================== */
#header_menus {
  box-shadow: none;
}

.return {
  padding: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.return_icon {
  height: 20px;
}

/* ============================================== */
/* =============== SECTION - MENU =============== */
/* ============================================== */
.main_menus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
@media screen and (min-width: 1440px) {
  .main_menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
  }
}

.menu_div {
  /*object-fit: cover;*/
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .menu_div {
    height: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .menu_div {
    width: 25%;
  }
}
.menu_div_img {
  object-fit: cover;
  width: 100%;
  height: 120%;
}
@media screen and (min-width: 1440px) {
  .menu_div_img {
    width: 120%;
    height: 100%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 10px;
  background-color: #F6F6F6;
}
@media screen and (min-width: 1440px) {
  .menu {
    width: 75%;
    border-top-left-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
  }
}
.menu_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}
.menu_header_title {
  margin-top: 20px;
  margin-bottom: 10px;
}
.menu_header_heart {
  height: 25px;
  padding: 15px;
  align-self: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu_desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .menu_desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
  }
}
.menu_desc_s {
  margin: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu_desc_s {
    width: 47%;
  }
}
@media screen and (min-width: 1024px) {
  .menu_desc_s {
    width: 100%;
  }
}
.menu_desc_s_title {
  margin: 5px;
  margin-top: 35px;
}
.menu_desc_s_line {
  width: 40px;
  height: 0px;
  margin: 5px;
  margin-bottom: 15px;
  border-bottom: 3px solid #99E2D0;
}
.menu_desc_s_el {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  height: 45px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 6px 10px 0px #EAEAEA;
  overflow: hidden;
}
.menu_desc_s_el_desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: auto;
}
.menu_desc_s_el_desc h2, .menu_desc_s_el_desc h4 {
  margin: 0px;
}
.menu_desc_s_el_prix {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 0px;
  margin-right: 10px;
}
.menu_button {
  align-self: center;
  margin-top: 40px;
  margin-bottom: 60px;
  padding-left: 55px;
  padding-right: 55px;
  border: 0px;
  border-radius: 30px;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  box-shadow: 0px 6px 11px 0px #C5C5C5;
}
.menu_button:hover {
  background: linear-gradient(175deg, #ff93e1 0%, #a16be0 100%);
  box-shadow: 0px 8px 11px 2px #C5C5C5;
}

/* --------------- Color chart --------------- */
/* --------------- Breakpoints --------------- */
/* --------------- Links --------------- */
a, a:visited {
  color: inherit;
  text-decoration: none;
}

html {
  min-height: 100%;
}

body {
  background-color: white;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  /* To remove the blank space under footer */
}

/* ====================================== */
/* =============== HEADER =============== */
/* ====================================== */
.header {
  min-height: 55px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 11px 4px #CECECE;
  position: relative;
}
.header_logo {
  height: 30px;
}

@media screen and (min-width: 1440px) {
  main {
    height: 100%;
  }
}

/* ====================================================== */
/* =============== SECTION - LOCALISATION =============== */
/* ====================================================== */
@media screen and (min-width: 1024px) {
  .loc_pres_fonc_s {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
  }
}

@media screen and (min-width: 1024px) {
  .loc_pres_s {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: auto;
    width: 55%;
  }
}

.loc {
  background-color: #EAEAEA;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .loc {
    width: 100%;
    height: 100px;
  }
}
.loc_icon {
  height: 18px;
  margin-right: 15px;
}
.loc_form {
  width: 160px;
}
.loc_form_type {
  background-color: #EAEAEA;
  width: 100%;
  border: 0px;
  padding: 10px;
  padding-top: 12px;
}
.loc_form_type::placeholder {
  color: #353535;
  opacity: 1;
}
.loc_form_type:focus {
  outline-color: #9356DC;
  color: #353535;
}

/* ======================================================== */
/* =============== SECTION - FONCTIONNEMENT =============== */
/* ======================================================== */
.pres {
  background-color: #F6F6F6;
  height: 205px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .pres {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
  }
}
.pres h1 {
  width: 80%;
}
.pres h4 {
  width: 80%;
  margin: 0px;
  margin-bottom: 35px;
}
.pres a {
  padding-left: 25px;
  padding-right: 25px;
  border: 0px;
  border-radius: 30px;
  color: white;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 6px 11px 0px #C5C5C5;
}
.pres a:hover {
  background: linear-gradient(175deg, #ff93e1 0%, #a16be0 100%);
  box-shadow: 0px 8px 11px 2px #C5C5C5;
}

/* ======================================================== */
/* =============== SECTION - FONCTIONNEMENT =============== */
/* ======================================================== */
.fonc_s {
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .fonc_s {
    width: 40%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fonc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.fonc_el {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fonc_el_nb {
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  color: white;
  padding: 5px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  position: absolute;
}
.fonc_el_block {
  background-color: #F6F6F6;
  width: 100%;
  height: 70px;
  margin: 10px;
  margin-right: 0px;
  padding-left: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 2px #E7E7E7;
  display: flex;
  flex-direction: row;
  justify-content: auto;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .fonc_el_block {
    margin-right: 10px;
  }
}
.fonc_el_block:hover {
  background-color: #F5EDFF;
}
.fonc_el_block_icon {
  width: 20%;
  height: 20px;
  margin-right: 5px;
}
.fonc_el_block h3 {
  margin-right: 10px;
}

/* ===================================================== */
/* =============== SECTION - RESTAURANTS =============== */
/* ===================================================== */
#rest_s {
  background-color: #F6F6F6;
  padding-top: 30px;
  padding-bottom: 45px;
}
#rest_s_title {
  margin: 0px;
  padding: 20px;
  padding-bottom: 10px;
}

.rest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: auto;
}
@media screen and (min-width: 768px) {
  .rest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    flex-wrap: wrap;
  }
}
.rest_el {
  height: 250px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 2px #E6E6E6;
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .rest_el {
    width: 44%;
  }
}
@media screen and (min-width: 1024px) {
  .rest_el {
    width: 21%;
  }
}
.rest_el_img {
  width: 100%;
  height: 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.rest_el_desc {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: auto;
}
.rest_el_desc_txt {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: auto;
}
.rest_el_desc_txt h2, .rest_el_desc_txt h4 {
  margin: 2px;
}
.rest_el_desc_heart {
  margin-right: 10px;
  height: 25px;
  padding: 10px;
  align-self: center;
}
.rest_el_new {
  position: absolute;
  top: 0px;
  right: 15px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #99E2D0;
  color: #3B8568;
  border-radius: 2px;
  box-shadow: 0px 2px 6px 1px #363636;
}

/* ====================================== */
/* =============== FOOTER =============== */
/* ====================================== */
.footer {
  background-color: #363636;
  padding: 25px;
  padding-bottom: 30px;
}
.footer_logo {
  height: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.footer_el {
  display: flex;
  flex-direction: row;
  justify-content: auto;
  align-items: center;
}
.footer_el_icon {
  height: 15px;
  margin-right: 10px;
}
.footer p {
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer p:hover {
  color: #99E2D0;
}

/*# sourceMappingURL=styles.css.map */
