/* --------------- Color chart --------------- */
/* --------------- Breakpoints --------------- */
/* --------------- Sizes --------------- */
/* --------------- Fonts --------------- */
/* Logo and titles: Shrikhand
Text : Roboto */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto/Roboto-Thin-webfont.woff") format("woff");
  src: url("../assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto/Roboto-Bold-webfont.woff") format("woff");
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Shrikhand";
  src: url("../assets/fonts/shrikhand/Shrikhand-Regular.otf") format("opentype");
  font-weight: 500;
}
html, .localisation_research_type {
  font-family: "Roboto", "Trebuchet MS", Arial, sans-serif;
}

.menu_header_title {
  font-family: "Shrikhand", "Trebuchet MS", Arial, sans-serif;
}

h1, h2 {
  font-weight: 600;
}

h3, p, input {
  font-weight: 500;
}

h4 {
  font-weight: 400;
}

.menu_details_part_item_txt_description h2, .menu_details_part_item_txt_price {
  font-weight: 500;
}

h1 {
  font-size: 25px;
}

h2, h3, h4 {
  font-size: large;
}

.presentation h4 + a h3, .fonctionnement h3, .localisation_research_type {
  font-size: medium;
}
@media screen and (min-width: 1024px) {
  .presentation h4 + a h3, .fonctionnement h3, .localisation_research_type {
    font-size: large;
  }
}

p, .menu_details_part_item_txt h4 {
  font-size: medium;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes rotation1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotation2 {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(480deg);
  }
}
@keyframes rotation3 {
  from {
    transform: rotate(240deg);
  }
  to {
    transform: rotate(600deg);
  }
}
@keyframes showitem {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes popheart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
/* --------------- Color chart --------------- */
/* --------------- Breakpoints --------------- */
/* --------------- Sizes --------------- */
/* ====================================== */
/* =============== LOADER =============== */
/* ====================================== */
.loader {
  background-color: rgba(246, 246, 246, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  animation: loader 0.5s;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 10;
}
.loader_spin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loader_spin_item {
  width: 70px;
  height: 70px;
  border-right: 5px solid transparent;
  border-radius: 50%;
  position: absolute;
  z-index: 11;
}
.loader_spin_item--1 {
  border-top: 5px solid #9356DC;
  animation: rotation1 1.5s linear 3;
}
.loader_spin_item--2 {
  border-top: 5px solid #FF79DA;
  animation: rotation2 1.5s linear 3;
}
.loader_spin_item--3 {
  border-top: 5px solid #99E2D0;
  animation: rotation3 1.5s linear 3;
}

/* ====================================== */
/* =============== HEADER =============== */
/* ====================================== */
.header--homepage {
  box-shadow: 0px 0px 11px 4px #CECECE;
  z-index: 1;
}

/* ====================================================== */
/* =============== SECTION - LOCALISATION =============== */
/* ====================================================== */
@media screen and (min-width: 1024px) {
  .loc_pres_fonc_s {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
  }
}

@media screen and (min-width: 1024px) {
  .loc_pres_s {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: auto;
    width: 55%;
  }
}

.localisation {
  background-color: #EAEAEA;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .localisation {
    width: 100%;
    height: 100px;
  }
}
.localisation_icon {
  height: 18px;
  margin-right: 15px;
}
.localisation_research {
  width: 160px;
}
.localisation_research_type {
  background-color: #EAEAEA;
  width: 100%;
  border: 0px;
  padding: 10px;
  padding-top: 12px;
}
.localisation_research_type::placeholder {
  color: #353535;
  opacity: 1;
}
.localisation_research_type:focus {
  outline-color: #9356DC;
  color: #353535;
}

/* ======================================================== */
/* =============== SECTION - FONCTIONNEMENT =============== */
/* ======================================================== */
.presentation {
  background-color: #F6F6F6;
  height: 215px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .presentation {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
  }
}
.presentation_title {
  width: 80%;
}
.presentation_subtitle {
  width: 100%;
  margin: 0px;
  margin-bottom: 30px;
}
.presentation_btn {
  padding-left: 25px;
  padding-right: 25px;
}
.presentation_btn h3 {
  color: white;
}

/* ======================================================== */
/* =============== SECTION - FONCTIONNEMENT =============== */
/* ======================================================== */
.fonctionnement {
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    width: 40%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fonc_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.fonc_item {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.fonc_item_number {
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  color: white;
  padding: 5px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  position: absolute;
  left: -4px;
  z-index: 2;
}
.fonc_item_container {
  background-color: #F6F6F6;
  width: 100%;
  height: 70px;
  margin: 10px;
  margin-right: 0px;
  padding-left: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 2px #E7E7E7;
  display: flex;
  flex-direction: row;
  justify-content: auto;
  align-items: center;
  transition: all 250ms;
}
@media screen and (min-width: 768px) {
  .fonc_item_container {
    margin-right: 10px;
  }
}
.fonc_item_container:hover {
  background-color: #F5EDFF;
}
.fonc_item_container_icon {
  width: 20%;
  height: 20px;
  margin-right: 5px;
}
.fonc_item_container h3 {
  margin-right: 10px;
}

/* ===================================================== */
/* =============== SECTION - RESTAURANTS =============== */
/* ===================================================== */
#restaurants {
  background-color: #F6F6F6;
  padding-top: 30px;
  padding-bottom: 45px;
}
#restaurants_title {
  margin: 0px;
  padding: 20px;
  padding-bottom: 10px;
}

.rest_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: auto;
}
@media screen and (min-width: 768px) {
  .rest_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    flex-wrap: wrap;
  }
}
.rest_card {
  background-color: white;
  height: 250px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 2px #E6E6E6;
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  overflow: hidden;
  position: relative;
  transform: scale(1);
  transition: all 300ms;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .rest_card {
    width: 44%;
  }
}
@media screen and (min-width: 1024px) {
  .rest_card {
    width: 21%;
  }
}
.rest_card:hover {
  transform: scale(1.05);
}
.rest_card_img {
  width: 100%;
  height: 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.rest_card_content {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: auto;
}
.rest_card_content_txt {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: auto;
}
.rest_card_content_txt h2, .rest_card_content_txt h4 {
  margin: 2px;
}
.rest_card_new {
  position: absolute;
  top: 0px;
  right: 15px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #99E2D0;
  color: #3B8568;
  border-radius: 2px;
  box-shadow: 0px 2px 6px 1px #363636;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes rotation1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotation2 {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(480deg);
  }
}
@keyframes rotation3 {
  from {
    transform: rotate(240deg);
  }
  to {
    transform: rotate(600deg);
  }
}
@keyframes showitem {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes popheart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
/* --------------- Color chart --------------- */
/* --------------- Breakpoints --------------- */
/* --------------- Sizes --------------- */
/* ====================================== */
/* =============== HEADER =============== */
/* ====================================== */
.header--menus {
  position: relative;
}

.return_container {
  padding: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.return_icon {
  height: 20px;
}

/* ============================================== */
/* =============== SECTION - MENU =============== */
/* ============================================== */
.main--menus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
@media screen and (min-width: 1440px) {
  .main--menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
  }
}

.menu_img {
  object-fit: cover;
  width: 100%;
  height: 120%;
}
.menu_img_container {
  width: 100%;
}
@media screen and (max-width: 1439px) {
  .menu_img_container {
    height: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .menu_img_container {
    width: 25%;
  }
}
@media screen and (min-width: 1440px) {
  .menu_img {
    width: 120%;
    height: 100%;
  }
}

.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 10px;
  background-color: #F6F6F6;
}
@media screen and (min-width: 1440px) {
  .menu_container {
    width: 75%;
    border-top-left-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
  }
}
.menu_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}
.menu_header_title {
  margin-top: 20px;
  margin-bottom: 10px;
}
.menu_header_heart {
  height: 25px;
  padding: 15px;
  align-self: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu_details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .menu_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
  }
}
.menu_details_part {
  margin: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu_details_part {
    width: 47%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .menu_details_part {
    width: 31%;
  }
}
@media screen and (min-width: 1440px) {
  .menu_details_part {
    width: 33%;
  }
}
.menu_details_part_title {
  margin: 5px;
  margin-top: 35px;
}
.menu_details_part_line {
  width: 40px;
  height: 0px;
  margin: 5px;
  margin-bottom: 15px;
  border-bottom: 3px solid #99E2D0;
}
.menu_details_part_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 75px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 6px 10px 0px #EAEAEA;
  overflow: hidden;
  animation: showitem 1s;
  animation-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
  animation-fill-mode: both;
}
.menu_details_part_item_txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: auto;
  width: 100%;
  padding: 15px;
  transition: all 0.5s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_details_part_item_txt_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_details_part_item_txt_description h2, .menu_details_part_item_txt_description h4 {
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_details_part_item_txt_price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0px;
  margin-right: 10px;
}
.menu_details_part_item_check {
  background-color: #99E2D0;
  width: 0px;
  transform: translateX(20px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.menu_details_part_item_check_icon {
  height: 25px;
  transform: rotate(-360deg);
}
.menu_details_part_item:hover .menu_details_part_item_txt {
  width: calc(100% - 100px);
}
.menu_details_part_item:hover .menu_details_part_item_check {
  width: 70px;
  transform: translateX(0);
  transform-origin: right;
}
.menu_details_part_item:hover .menu_details_part_item_check_icon {
  transform: rotate(0deg);
  transition: all 0.5s;
}
.menu_btn {
  align-self: center;
  margin-top: 40px;
  margin-bottom: 60px;
  padding-left: 55px;
  padding-right: 55px;
  color: white;
}

.itemdelay_1 {
  animation-delay: 100ms;
}

.itemdelay_2 {
  animation-delay: 200ms;
}

.itemdelay_3 {
  animation-delay: 300ms;
}

.itemdelay_4 {
  animation-delay: 400ms;
}

.itemdelay_5 {
  animation-delay: 500ms;
}

.itemdelay_6 {
  animation-delay: 600ms;
}

.itemdelay_7 {
  animation-delay: 700ms;
}

.itemdelay_8 {
  animation-delay: 800ms;
}

.itemdelay_9 {
  animation-delay: 900ms;
}

.itemdelay_10 {
  animation-delay: 1000ms;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes rotation1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotation2 {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(480deg);
  }
}
@keyframes rotation3 {
  from {
    transform: rotate(240deg);
  }
  to {
    transform: rotate(600deg);
  }
}
@keyframes showitem {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes popheart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
/* --------------- Color chart --------------- */
/* --------------- Breakpoints --------------- */
/* --------------- Sizes --------------- */
/* --------------- Links --------------- */
a, a:visited {
  color: inherit;
  text-decoration: none;
}

html {
  min-height: 100%;
}

body {
  background-color: white;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  /* To remove the blank space under footer */
}

@media screen and (min-width: 1440px) {
  main {
    height: 100%;
  }
}

/* ====================================== */
/* =============== HEADER =============== */
/* ====================================== */
.header {
  min-height: 55px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header_logo {
  height: 30px;
}

/* ======================================= */
/* =============== BUTTONS =============== */
/* ======================================= */
.btn {
  border: 0px;
  border-radius: 30px;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  z-index: 1;
  box-shadow: 0px 6px 11px 0px #C5C5C5;
  transform: scale(1);
  position: relative;
  z-index: 1;
  transition: all 250ms;
}
.btn:hover {
  box-shadow: 0px 8px 11px 2px #C5C5C5;
  transform: scale(1.05);
  background: linear-gradient(175deg, #ff93e1 0%, #a16be0 100%);
}

/* ====================================== */
/* =============== HEARTS =============== */
/* ====================================== */
.heart {
  width: 25px;
  height: 25px;
  transition: all 400ms ease-in-out;
}
.heart--nolike {
  z-index: 1;
  opacity: 1;
}
.heart--like {
  position: absolute;
  right: 10px;
  opacity: 0;
}
.heart_container {
  margin-right: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: scale(1);
}
.heart_container:hover .heart--nolike {
  opacity: 0;
}
.heart_container:hover .heart--like {
  opacity: 1;
  animation: popheart 300ms ease-in-out 300ms;
}

/* ====================================== */
/* =============== FOOTER =============== */
/* ====================================== */
.footer {
  background-color: #363636;
  padding: 25px;
  padding-bottom: 30px;
}
.footer_logo {
  height: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.footer_item {
  display: flex;
  flex-direction: row;
  justify-content: auto;
  align-items: center;
}
.footer_item_icon {
  height: 15px;
  margin-right: 10px;
}
.footer p {
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 250ms;
}
.footer p:hover {
  color: #99E2D0;
}

/*# sourceMappingURL=styles.css.map */
