.footer
{
    background-color: $darkgrey;
    padding: 25px;
    padding-bottom: 30px;

    &_logo
    {
        height: 18px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    &_item
    {
        @include flex-row(stretch, center);

        &_icon
        {
            height: 15px;
            margin-right: 10px;
        }
    }

    p
    {
        color: white;
        margin-top: 5px;
        margin-bottom: 5px;
        transition: all 250ms;

        &:hover
        {
            color: $color-tertiary;
        }
    }
}