a, a:visited
{
    color: inherit;
    text-decoration: none;
}

html
{
    min-height: 100%;
}

body
{
    background-color: white;
    margin: 0 auto;
    height: 100vh;                               /* To remove the blank space under footer */
    @include flex-col(space-between, stretch);
}

main
{
    @include media-min("largedesktop-min")
    {
        height: 100%;
    }
}