/* --------------- Fonts --------------- */

/* Logo and titles: Shrikhand
Text : Roboto */

@font-face
{
    font-family: "Roboto";
    src: url('../assets/fonts/roboto/Roboto-Thin-webfont.woff') format('woff');
    src: url('../assets/fonts/roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 400;
}

@font-face
{
    font-family: "Roboto";
    src: url('../assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face
{
    font-family: "Roboto";
    src: url('../assets/fonts/roboto/Roboto-Bold-webfont.woff') format('woff');
    src: url('../assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 600;
}

@font-face
{
    font-family: "Shrikhand";
    src: url('../assets/fonts/shrikhand/Shrikhand-Regular.otf') format("opentype");
    font-weight: 500;
}

html, .localisation_research_type
{
    font-family: "Roboto", "Trebuchet MS", Arial, sans-serif;
}

.menu_header_title
{
    font-family: "Shrikhand", "Trebuchet MS", Arial, sans-serif;
}

h1, h2, h3
{
    font-weight: 600;
}

h3, p, input
{
    font-weight: 500;
}

h4
{
    font-weight: 400;
}

.menu_details_part_item_txt h2
{
    font-weight: 500;
}

h1
{
    font-size: 25px;
}

h2, h3, h4, .localisation_research_type
{
    font-size: large;
}

p, .menu_details_part_item h4
{
    font-size: medium;
}