@import "../utils/mixins";
@import "../utils/variables";


/* ====================================== */
/* =============== HEADER =============== */
/* ====================================== */

#header_menus
{
    box-shadow: none;
}

.return
{
    padding: 25px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;

    &_icon
    {
        height: 20px;
    }
}


/* ============================================== */
/* =============== SECTION - MENU =============== */
/* ============================================== */

.main_menus
{
    @include flex-col(space-between, space-between);
    @include media-min("largedesktop-min")
    {
        @include flex-row(space-between, space-between);
    }
}

.menu_div
{
    /*object-fit: cover;*/
    width: 100%;
    @include media-between("tablet-min", "desktop-max")
    {
        height: 300px;
    }
    @include media-min("largedesktop-min")
    {
        width: 25%;
    }

    &_img
    {
        object-fit: cover;
        width: 100%;
        height: 120%;
        @include media-min("largedesktop-min")
        {
            width: 120%;
            height: 100%;
        }
    }
}

.menu
{
    @include flex-col(center, auto);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;
    background-color: $lightgrey;
    @include media-min("largedesktop-min")
    {
        width: 75%;
        border-top-left-radius: 30px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 30px;
    }

    &_header
    {
        @include flex-row(space-between, space-between);
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;

        &_title
        {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        &_heart
        {
            height: 25px;
            padding: 15px;
            align-self: center;
        }
    }

    &_desc
    {
        @include media-between("tablet-min", "tablet-max")
        {
            @include flex-row(center, space-between);
            flex-wrap: wrap;
        }
        @include media-min("desktop-min")
        {
            @include flex-row(space-between, space-between);
        }

        &_s
        {
            margin: 10px;
            @include media-between("tablet-min", "tablet-max")
            {
                width: 47%;
            }
            @include media-min("desktop-min")
            {
                width: 100%;
            }

            &_title
            {
                margin: 5px;
                margin-top: 35px;
            }

            &_line
            {
                width: 40px;
                height: 0px;
                margin: 5px;
                margin-bottom: 15px;
                border-bottom: 3px solid $color-tertiary;
            }

            &_el
            {
                @include flex-row(space-between, auto);
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 15px;
                height: 45px;
                background-color: white;
                border-radius: 20px;
                box-shadow: 0px 6px 10px 0px $middlegrey;
                overflow: hidden;

                &_desc
                {
                    @include flex-col(space-between, auto);

                    h2, h4
                    {
                        margin: 0px;
                    }
                }
                &_prix
                {
                    font-weight: 600;
                    @include flex-row(center, flex-end);
                    margin: 0px;
                    margin-right: 10px;
                }
            }
        }
    }

    & button
    {
        align-self: center;
        margin-top: 40px;
        margin-bottom: 60px;
        padding-left: 55px;
        padding-right: 55px;
    }
}