/* --------------- Appearance --------------- */

/* Loading spinner */
@keyframes loader
{
    100% {
        opacity: 0;
        z-index: -1;
    }
}

/*  Each menu item appearing from the bottom */
@keyframes showitem
{
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


/* --------------- Rotation --------------- */

/* First component of the loading spinner */
@keyframes rotation1
{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Second component of the loading spinner */
@keyframes rotation2
{
    from {
        transform: rotate(120deg);
    }
    to {
        transform: rotate(480deg);
    }
}

/* Third component of the loading spinner */
@keyframes rotation3
{
    from {
        transform: rotate(240deg);
    }
    to {
        transform: rotate(600deg);
    }
}


/* --------------- Popping before returning to initial state --------------- */

/* Heart popping */
@keyframes popheart
{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

/* Little item popping */
@keyframes smallpop
{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}