/* --------------- Color chart --------------- */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-primarylight: #F5EDFF;
$lightgrey: #F6F6F6;
$middlegrey: #EAEAEA;
$darkgrey: #363636;
$locicongrey: #353535;
$foncicongrey: #646464;