/* --------------- Color chart --------------- */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-primarylight: #F5EDFF;
$color-tertiarydark: #3B8568;
$lightgrey: #F6F6F6;
$middlegrey: #EAEAEA;
$darkgrey: #363636;
$locicongrey: #353535;
$foncicongrey: #646464;
$buttonshadowgrey: #C5C5C5;

/* --------------- Breakpoints --------------- */

$breakpoints:
(
    "mobile-max": 767px,
    "tablet-min": 768px,
    "tablet-max": 1023px,
    "desktop-min": 1024px,
    "bigdesktop-min": 1440px
);